
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* 전체 너비 차지 */
  height: 100%;
}

.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  text-align: center;
  color: #000;
  background:
    radial-gradient(circle at top left, rgba(255, 182, 193, 0.5), rgba(255, 182, 193, 0) 40%), 
    radial-gradient(circle at bottom right, rgba(135, 206, 250, 0.5), rgba(135, 206, 250, 0) 40%);
  background-size: 200% 200%;
  animation: backgroundMove 3s infinite alternate; /* 배경 애니메이션만 유지 */
}

/* 배경 움직임 애니메이션 */
@keyframes backgroundMove {
  0% {
    background-position: 20% 20%, 80% 80%; /* 초기 위치 */
  }
  25% {
    background-position: 30% 30%, 80% 80%; /* 첫 번째 그라디언트의 위치, 두 번째 그라디언트의 위치 */
  }
  50% {
    background-position: 50% 50%, 70% 70%; /* 중간 위치 */
  }
  75% {
    background-position: 70% 70%, 60% 60%; /* 마지막으로 이동하는 위치 */
  }
  100% {
    background-position: 80% 80%, 50% 50%; /* 최종 위치 */
  }
}

/* 텍스트 페이드 인 효과 */
@keyframes textFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px); /* 아래에서 올라오는 효과 */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 */
  }
}

/* 텍스트 스케일 애니메이션 */
@keyframes textScale {
  0% {
    transform: scale(2.5); /* 처음에는 2배 크기 */
  }
  100% {
    transform: scale(1); /* 정상 크기로 줄어듦 */
  }
}


/* 제목 스타일 */
.main-title {
  font-size: 100px;
  letter-spacing: -2px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 800;
  animation: textFadeIn 1s ease-in-out, textScale 1.5s ease-in-out forwards; /* 애니메이션 추가 */
}

/* 설명 스타일 */
.main-description {
  font-size: 20px;
  margin-top: 20px;
  max-width: 60%; /* 최대 너비 설정 */
  line-height: 1.5; /* 줄 높이 설정 */
  font-family: 'Pretendard', sans-serif;
  font-weight: 200;
  opacity: 0; /* 초기 상태를 보이지 않게 설정 */
  animation: textFadeIn 1.5s ease-in-out forwards; /* 설명에 애니메이션 적용 */
  animation-delay: 1.5s; /* 제목 애니메이션 후에 시작 */
}

.features-wrapper {
  display: flex;
  align-items: flex-start; /* 제목과 카드가 나란히 정렬되도록 설정 */
  width: 70%;
  padding: 80px;
}

/* 제목 스타일 */
.features-semititle {
  font-size: 46px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  width: 40%; /* 제목이 차지할 공간 비율 설정 */
}

.features-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px; /* 카드 간의 간격 조정 */
  width: 60%;
  align-items: flex-end; /* 오른쪽 정렬 */
}

.feature-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f9f9f9;
  padding: 34px;
  border-radius: 20px;
  aspect-ratio: 4 / 1; /* 카드 비율 */
  width: 90%; /* 너비를 90%로 설정 */
  word-wrap: break-word; /* 긴 단어가 줄 바꿈 되도록 설정 */
  justify-content: center; /* 카드의 내용이 세로 중앙에 오도록 설정 */
  opacity: 0; /* 초기 상태: 보이지 않음 */
  transform: translateY(20px); /* 아래에서 시작 */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* 배너 스타일 인덱스 */
.feature-card::before {
  content: attr(data-index);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff7f50;
  color: white;
  padding: 14px 24px;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Pretendard', sans-serif;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.feature-card.visible {
  opacity: 1; /* 보이게 설정 */
  transform: translateY(0); /* 원래 위치로 */
}

.feature-content {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: center; /* 콘텐츠를 세로 중앙 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin: auto; /* 중앙 정렬을 위해 자동 마진 사용 */
  width: 74%;
}

.feature-title {
  font-size: 30px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #333;
  text-align: left; /* 텍스트 왼쪽 정렬 */
}

.feature-description {
  font-size: 18px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

@keyframes slideUp {
  0% {
    transform: translateY(30px); /* 시작 위치 */
    opacity: 0; /* 초기 투명도 */
  }
  100% {
    transform: translateY(0); /* 최종 위치 */
    opacity: 1; /* 최종 투명도 */
  }
}

.slide-up {
  animation: slideUp 0.5s ease forwards; /* 애니메이션 설정 */
}


.process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 80px;
}

.process-semititle{
  font-size: 70px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}


/* 리본 스타일 인덱스 */
/*
.feature-card::before {
  content: attr(data-index);
  position: absolute;
  top: -10px; 
  left: -10px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 20px; 
  font-weight: 700;
  font-family: 'Pretendard', sans-serif;
  transform: rotate(-10deg);
}
*/
